<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.system.mapper.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zy.system.model.SysUserRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="associated_id" property="associatedId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
</mapper>